body {
	background-color: rgb(220,220,220);
	font-weight: 350;
	font-size: 22px;
	font-family: helvetica
	text-align:center;


}


img {
	border-radius: 50%}

h1 { color: grey;
	text-align: center; }	

h2 { color: grey; text-align: center; }

h3 { color: cadetblue }

h4 { color: grey; font-weight: bolder; }

p { color: grey; 
	font-weight: left }

a {	text-decoration: none; 
	color: white;
	display: inline; 
	font-weight: 600;
	font-size: 16px;
}

a hover {
	color: black ;
} 

.gbu { 
	background-color:#263f44;
	color : white ;
	padding: 10px 10px;
	display: inline;
}
.gbu :hover { 
	background-color: #263f44;
	color : white ;
	padding: 10px 10px;
	display: inline;
}

.list {
 	box-shadow: beige;
    background-color: #263f44;
    padding: 10px 10px;
    margin: 10px 200px;
    border-radius: 25px;
    list-style: none;
    color: white;
 }

 .site {
 	box-shadow: beige;
    background-color: #263f44;
    padding: 10px 10px;
    margin: 10px 200px;
    border-radius: 25px;
    list-style: none;
    color: white;


 }

div { 
    text-align: center;
    background: white;
    padding: 15px 15px;
    margin: 8px 50px;
    box-shadow: 5px 12px 35px black;
  
}



 }